.container-fluid {
  height: 100%;
  padding-bottom: 40px;
  padding-left: 0px !important;
  padding-right: 0px !important;

  .main-text {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 400;
    color: #0d0d0d;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;

    b {
      font-weight: 600;
      color: #6d72c3;
    }
  }

  .main-title h2 {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 600;
    color: #0d0d0d;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .cta-btn a {
    background-color: #6d72c3;
    color: #ffffff;
    border: #6d72c3;
    font-size: 20px;
    height: 50px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
