<div class="container-fluid">
  <app-landing-navbar></app-landing-navbar>
  <div class="container col-sm-12 col-md-6 d-flex justify-content-center mb-5">
    <h3 class="main-text">
      Are you tired of constantly searching for the solutions to technical
      problems, challenges and or blockers you have solved in the past? Well,
      with Solution Recaller you can document and recall them at any time in the
      future.
    </h3>
  </div>

  <!-- How it works -->
  <div class="container">
    <div class="main-title">
      <h2 class="my-5 text-center">How it works</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center">
      <div class="col" *ngFor="let item of howItWorks">
        <app-how-it-works [howItWorks]="item"></app-how-it-works>
      </div>
    </div>
  </div>
</div>
