.container-fluid {
  background-image: linear-gradient(to bottom, #6d72c3, #cd9fcc);
  height: 100%;
  padding-bottom: 40px;

  .main-text {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 400;
    color: #0d0d0d;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: left;
  }

  .container {
    .section-wrapper {
      background-color: #ced4da;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin-bottom: 30px;

      .step-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        p {
          text-align: justify;
          margin: 0 10px;
        }
        img {
          width: 100%;
          height: auto;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }
    }
  }
}
