<app-landing-navbar></app-landing-navbar>
<div class="container col-sm-12 col-md-6 d-flex justify-content-center my-5">
  <h3 class="main-text">
    Are you tired of constantly searching for the solutions to technical
    problems, challenges and or blockers you have solved in the past? Well, with
    Solution Recaller you can document and recall them at any time in the
    future.
  </h3>
</div>
<div class="container">
  <div class="main-title">
    <h3 class="my-5">How it works</h3>
  </div>
  <section class="section-wrapper py-4">
    <h4 class="mb-4">Step 1</h4>
    <div class="row step-wrapper hmmm">
      <div class="col-sm-12 col-md-4">
        <p>Login if you have an account or register if you don't have one.</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <img src="../../../assets/images/Login.png" alt="login" />
      </div>
    </div>
  </section>

  <section class="section-wrapper py-4">
    <h4 class="mb-4">Step 2</h4>
    <div class="row step-wrapper hmmm">
      <div class="col-sm-12 col-md-6">
        <img src="../../../assets/images/create-button.png" alt="Step 2 pics" />
      </div>
      <div class="col-sm-12 col-md-4">
        <p>Click the create button on the top right corner</p>
      </div>
    </div>
  </section>

  <section class="section-wrapper py-4">
    <h4 class="mb-4">Step 3</h4>
    <div class="row step-wrapper hmmm">
      <div class="col-sm-12 col-md-4">
        <p>
          Fill in the details of the problem, such as title, description and
          solution and click the create button. You can format your solution
          using the in-built text editor.
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <img src="../../../assets/images/create.png" alt="Step 2 pics" />
      </div>
    </div>
  </section>

  <section class="section-wrapper py-4">
    <h4 class="mb-4">Step 4</h4>
    <div class="row step-wrapper hmmm">
      <div class="col-sm-12 col-md-6">
        <img src="../../../assets/images/search.png" alt="Step 2 pics" />
      </div>
      <div class="col-sm-12 col-md-4">
        <p>
          Navigate to the search page to search for the saved problem. Enter
          your search keyword in the input field, click the recall button and
          see a list of post matching your search keyword.
        </p>
      </div>
    </div>
  </section>

  <section class="section-wrapper py-4">
    <h4 class="mb-4">Step 5</h4>
    <div class="row step-wrapper hmmm">
      <div class="col-sm-12 col-md-4">
        <p>
          Once the desired solved problem has been found, click on the title of
          the post to see the details of a problem. you can choose to edit the
          problem details or delete it. If a problem more than one solution, you
          can just edit the problem and add the multiple solutions in the text
          editor and format it as you like.
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <img src="../../../assets/images/single.png" alt="Step 2 pics" />
      </div>
    </div>
  </section>
</div>
<!-- </div> -->
