.me-auto a {
  color: #6d72c3;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  font-weight: 500;

  &:hover {
    background-color: #cd9fcc;
    color: #ffffff;
  }
}

.logout-btn {
  color: #6d72c3;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #cd9fcc;
    color: #ffffff;
  }
}
