<div class="card h-100">
  <img
    src="{{ post.imageUrl || '../../../../../assets/images/code.jpg' }}"
    class="card-img-top"
    alt="{{ post.problemTitle }}"
  />
  <div class="card-body">
    <h5 class="card-title text-truncate">{{ post.problemTitle }}</h5>

    <div
      class="card-text text-truncate my-3"
      [innerHTML]="post.problemSolution.slice(0, 70) + '...'"
    ></div>

    <div class="mb-4">
      <div class="d-flex flex-wrap align-items-center">
        <span class="tag-badge px-2 py-1" *ngFor="let item of post.tags">
          {{ item.name }}
        </span>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <a href="/posts/{{ post.id }}" class="btn">View Details</a>
      </div>
    </div>
  </div>
</div>
