<div class="card h-100">
  <img
    src="{{ post.imageUrl || '../../../../../assets/images/code.jpg' }}"
    class="card-img-top"
    alt="{{ post.problemTitle }}"
  />
  <div class="card-body">
    <h5 class="card-title text-truncate">{{ post.problemTitle }}</h5>
    <h6 class="card-subtitle my-3 text-muted text-truncate">
      {{ post.problemDescription }}
    </h6>
    <div
      class="card-text text-truncate my-3"
      [innerHTML]="post.problemSolution"
    ></div>

    <a href="/posts/{{ post.id }}" class="btn btn-dark">View Details</a>
  </div>
</div>
