.card {
  border-radius: 10px;
  border: 1px solid #6d72c3;

  .tag-badge {
    margin-right: 10px;
    background-color: #30485a;
    color: #ffffff;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
  }

  .btn {
    background-color: #6d72c3;
    color: #ffffff;
    border: #6d72c3;
  }
}
