<div class="card h-100" aria-hidden="true">
  <img
    src="../../../assets/images/placeholder.jpg"
    class="card-img-top placeholder-glow"
    alt="placeholder"
  />
  <div class="card-body">
    <h5 class="card-title placeholder-glow">
      <span class="placeholder col-12"></span>
    </h5>
    <h6 class="card-subtitle my-3 text-truncate">
      <span class="placeholder col-10"></span>
    </h6>
    <div class="card-text placeholder-glow my-3">
      <span class="placeholder col-8"></span>
    </div>
    <a
      href="#"
      tabindex="-1"
      class="btn btn-dark disabled placeholder col-4"
    ></a>
  </div>
</div>
