<app-main-navbar></app-main-navbar>

<div class="container col-6">
  <form [formGroup]="chatForm" (ngSubmit)="onGetCompletion()">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="message"
        formControlName="message"
        placeholder="Ask a question"
      />
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>

  <div class="chat-dialogue">
    <div class="chat-message" *ngFor="let message of messages">
      <div
        class="message-sender"
        [ngClass]="{
          'sender-user': message.sender === 'user',
          'sender-api': message.sender === 'api'
        }"
      >
        {{ message.sender }}
      </div>
      <markdown [data]="message.content"> </markdown>
      <!-- <div class="ql-editor fs-6" [innerHTML]="message.content"></div> -->
      <!-- <quill-view [content]="message.content"></quill-view> -->
    </div>
    <p *ngIf="errorMessage" class="aler alert-danger">{{ errorMessage }}</p>
  </div>
</div>
