<app-main-navbar></app-main-navbar>

<div class="container">
  <h3 class="mt-4 mb-4 text-center">Recall by keyword</h3>

  <!-- Search Form -->
  <div class="container col-sm-12 col-md-6">
    <form [formGroup]="searchForm" (ngSubmit)="searchPost()">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          id="searchKeyword"
          aria-describedby="search-button"
          placeholder="Enter keyword"
          formControlName="searchKeyword"
          required
        />
        <button
          class="btn col-sm-3"
          type="submit"
          id="search-button"
          [disabled]="searchForm.invalid"
        >
          <div
            class="spinner-border"
            role="status"
            *ngIf="isKeywordSearchLoading"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
          <span *ngIf="!isKeywordSearchLoading">Recall</span>
        </button>
      </div>
    </form>
  </div>

  <!-- Show Tags -->
  <div class="container">
    <h5 class="mt-4 mb-2 text-center" *ngIf="allTags.length !== 0">
      or by tag
    </h5>
    <div class="container col-sm-12 col-md-6 d-flex justify-content-center">
      <div *ngFor="let item of allTags" class="mx-2">
        <a class="btn tag-btn btn-sm" (click)="searchByTag(item.name)">{{
          item.name
        }}</a>
      </div>
    </div>
  </div>

  <!-- Search Result -->
  <div class="container">
    <div class="row mt-5" *ngIf="keywordSearchErrorMessage; else showResult">
      <div class="text-center">
        <h4>{{ keywordSearchErrorMessage }}</h4>
      </div>
    </div>

    <!-- show results from search -->
    <ng-template #showResult>
      <div class="row g-6 mt-5">
        <div
          class="col-sm-12 col-md-6 col-lg-4 mb-4"
          *ngFor="let item of keywordSearchResult"
        >
          <app-post-card
            [post]="item"
            [cardColor]="getCardColor()"
            [canChangeTheme]="false"
          ></app-post-card>
        </div>
      </div>
    </ng-template>
  </div>
</div>
