.form-container {
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  margin: 50px auto;
  padding: 40px;

  input {
    height: 50px;
  }

  .login-link {
    text-decoration: none !important;
    color: #000000;
    font-weight: bold;

    &:hover {
      color: #1e1e1e;
    }
  }
}
