.navbar {
  width: 100% !important;

  .navbar-brand {
    color: #000000 !important;
    font-weight: bold;
    font-size: 1.5rem;
  }
  .navbar-toggler {
    border: none !important;
    outline: none !important;
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}
.me-auto {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;

  li {
    margin-left: 20px;

    .landing-link {
      color: #000000;
      font-weight: bold;
    }
  }
}
