<app-main-navbar></app-main-navbar>

<div class="container my-4">
  <div
    class="my-5 d-flex align-items-center justify-content-center"
    post="singlePost"
  >
    <div class="mb-4 col-sm-6">
      <div *ngIf="!singlePost; else showPost" class="text-end">
        <h3>{{ errorMessage }}</h3>
      </div>
      <!-- Single Post card -->
      <ng-template #showPost>
        <div class="single-post-wrapper">
          <div>
            <h2 class="post-card-title fw-bolder">
              {{ singlePost?.problemTitle }}
            </h2>
          </div>
          <div>
            <h5 class="pb-2 fw-bold">{{ singlePost?.problemDescription }}</h5>
            <div class="ql-container ql-snow" style="border-width: 0">
              <div
                class="ql-editor fs-6"
                [innerHTML]="singlePost?.problemSolution"
              ></div>
            </div>
          </div>
        </div>
        <!-- Action Buttons -->
        <div
          class="mt-5 d-flex align-items-center justify-content-evenly button-wrapper"
        >
          <div>
            <button class="btn edit-btn" (click)="OpenEditPage(singlePost?.id)">
              Edit
            </button>
          </div>
          <div>
            <button
              class="btn delete-btn"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
            >
              Delete
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<!-- Delete Modal -->
<app-delete-modal [postId]="singlePost?.id"></app-delete-modal>
