.single-post-wrapper {
  align-items: center;
  flex-direction: column;
  justify-content: left;
  text-align: left !important;

  .post-card-title {
    font-size: 1.5rem;
    margin-bottom: 20px !important;
  }

  .ql-editor {
    padding: 0px !important;
  }
}

.button-wrapper {
  .edit-btn {
    background-color: #6d72c3 !important;
    border: none !important;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color: #ffffff;
  }

  .delete-btn {
    background-color: #ffffff !important;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #6d72c3 !important;
    color: #6d72c3;
  }
}
