.container-fluid {
  background-image: linear-gradient(to bottom, #6d72c3, #cd9fcc);
  height: 100vh;

  .container {
    height: 100vh;

    .row {
      height: 100%;
    }

    .signup-link {
      text-decoration: none;
      color: #000000;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: #1e1e1e;
      }
    }
  }
}
