.container-fluid {
  height: 100vh;
  background-image: linear-gradient(to bottom, #6d72c3, #cd9fcc);

  .signup-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: #1e1e1e;
    }
  }
}
