.forgot-password-link {
  margin-top: 20px;
  text-decoration: none !important;
  color: #000000;
  font-weight: bold;

  &:hover {
    color: #1e1e1e;
  }
}

.signup-link {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    color: #1e1e1e;
  }
}
