/* You can add global styles to this file, and also import other style files */
.form-container {
  background-color: rgb(211, 211, 211);
  border-radius: 10px;
  margin: 50px auto;
  padding: 40px;

  input {
    height: 50px;
  }
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  button {
    font-size: 16px;
    text-align: center;
  }
}
