/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.snow.css";

body {
  font-family: Inter, sans-serif;
}

.form-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 50px auto;
  padding: 40px;

  input {
    height: 50px;
  }

  .ql-editor {
    font-size: 16px !important;
  }
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  button {
    font-size: 16px;
    text-align: center;
  }
}

i {
  color: #6d72c3;
  font-size: 20px;
}

.alert-danger {
  background-color: #fff2ff;
  border-color: #fff2ff;
  color: #721c24;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.form-control:focus {
  border-color: #ced4da;
  outline: none !important;
  box-shadow: none !important;
}
